ProjectI/build.xml
ProjectI/manifest.mf
ProjectI/nbproject/build-impl.xml
ProjectI/nbproject/genfiles.properties
ProjectI/nbproject/project.properties
ProjectI/nbproject/private/private.properties
ProjectI/nbproject/private/private.xml
ProjectI/nbproject/project.xml
/ProjectI/build/
